In [2]:
name = input('What is your name? ')
print('Hi ' + name)
#for dynamically adding the name

What is your name? ankit
Hiankit

###WRITE A PROGRAM THAT ASKS YOU TWO QUESTIONS LIKE YOUR NAME AND YOUR FAVOURITE COLOUR AND

In [13]:
name = input('What is your name ? ')
colour = input('What is your favourite colour ? ')
print(name + ' likes ' + colour)

What is your name ? Ankit
What is your favourite colour ? blue
Ankit likes blue

In [3]:
birth_year = input('Enter birth year:')
age = 2019 - int(birth_year)
print(type(birth_year))
print(age)

Enter birth year:162
<class 'str'>
1857

In [10]:
##WRITE A PROGRAM TO TAKE YOUR YEAR OF BIRTH AS INPUT AND CALCULATE YOUR AGE

In [3]:
birth_year = input('Birth year: ')
print(type(birth_year))

age = 2019 - int(birth_year)
print(type(age))

print(age)

Birth year: 1996
<class 'str'>
<class 'int'>
23

In [7]:
price = 10
price = price + price * price
print(price)

110

In [8]:
price = 10
price = 20
print(price)
#python executes codes line by line. So the value of price at the end will be printed

20

In [9]:
price = 10
rating = 4.9
name = 'Raj'
is_published = True
print(price,rating,name)

10 4.9 Raj

WRITE A PROGRAM TO INPUT WEIGHT IN lbs AND CONVER IT TO WEIGHT IN kg.

In [15]:
Weight_lbs = input('Weight (lbs): ')
weight_kg = int(Weight_lbs) * 0.45
print(weight_kg)

Weight (lbs): 52
23.400000000000002

In [23]:
course = 'python is cool'
print(course[-9])
#when indexing, -1 denotes last character
# -2 for the 2nd last character and so on

n

In [24]:
course = 'python is cool'
print(course[2:3])

t

In [4]:
course = 'python is cool and machine learning too'
print(course[::-1])

oot gninrael enihcam dna looc si nohtyp

 Write a Program to print all the characters at once

In [26]:
course = 'python is cool'
print(course[:])

python is cool

name = 'Jennifer'
print(name[1:-1])
#Guess the output

#given
first = 'Hero'
last = 'Alom'

#print the following line
output = Hero [Alom] is a coder

In [21]:
def square(x):
    

    return x**2

In [22]:
square(5)

25

In [16]:
square(12)

144

In [17]:
def square(x,y):
    return x**2, y**3

In [18]:
square(12,6)

(144, 216)

In [2]:
a = '                hey       how are     you      '
print(a.strip())

hey       how are     you

In [4]:
# how to change elements of a tuple

c = (10,20,30,40,50)
print(c)
d = list(c)
d[2] = 80
print(d)
c = tuple(d)
print(c)

(10, 20, 30, 40, 50)
[10, 20, 80, 40, 50]
(10, 20, 80, 40, 50)

In [6]:
#Reversing elements of a list
s = 'welcome to python'
s = s.split()
s

['welcome', 'to', 'python']

In [8]:
rs = s[::-1]
rs

['python', 'to', 'welcome']

In [11]:
".".join(rs)

'python.to.welcome'

In [36]:
course = 'Django is cool'

print(course.upper())
print(course.lower())
print(len(course))
print(course.find('N')) #-1 as we dont have N over here
print(course.replace('Django', 'Machine learning'))

print(course.replace('o', 'learning'))

DJANGO IS COOL
django is cool
14
-1
Machine learning is cool
Djanglearning is clearninglearningl

In [33]:
list = [1,2,3,1,1,1]
list

[1, 2, 3, 1, 1, 1]

In [34]:
list.append('hello')
list

[1, 2, 3, 1, 1, 1, 'hello']

In [35]:
list.extend([1,5,6])
list

[1, 2, 3, 1, 1, 1, 'hello', 1, 5, 6]

In [36]:
list.append([1,5,6])
list

[1, 2, 3, 1, 1, 1, 'hello', 1, 5, 6, [1, 5, 6]]

In [37]:
list.pop(2)
#in pop method we specify the index position to be removed

3

In [38]:
list.remove(1)
list
#in remove method we specify the actual value to be removed

[2, 1, 1, 1, 'hello', 1, 5, 6, [1, 5, 6]]

In [21]:
list.reverse()
list

['hello', [1, 5, 6], 1, 2, 1]

In [25]:
list2=['x','f','p','l','r']
list2.sort()
list2

['f', 'l', 'p', 'r', 'x']

In [37]:
is_hot = True

if is_hot:
    print('It is  a hot day')
print('go out to swin')

It is  a hot day
go out to swin

In [38]:
is_hot = False

if is_hot:
    print('It is  a hot day')
print('go out to swin')

go out to swin

In [39]:
is_hot = False

if is_hot:
    print('It is  a hot day')
else:
    print('It is a cold day')
print('go out to swin')

It is a cold day
go out to swin

In [44]:
is_hot = False
is_cold = False

if is_hot:
    print('It is  a hot day')
elif is_cold:
    print('It is a cold day')
else:
    print('wear warm clothes')
print('go out to swin')

wear warm clothes
go out to swin

WRITE A PROGRAM WHERE PRICE OF THE GIVEN HOUSE IS INR 1000000 AND CHECK IF THE BUYER HAS A GOOD CREDIT,THE DOWN PAYMENT IS 10% OTHERWISE THE DOWNPAYMENT IS 20%

In [46]:
price = 1000000
has_good_credit = True

if has_good_credit:
    down_payment = 0.1 * price
else:
    down_payment = 0.2* price
print(f"Down Payment:{down_payment}")

Down Payment:100000.0

In [51]:
amount = input('Enter amount: ')
time = input('Enter time: ')
interest = input('Enter interest amount: ')
Interest = int(amount) * int(time) * int(interest) / 100
print(Interest)

Enter amount: 15000
Enter time: 3
Enter interest amount: 15
6750.0

In [6]:
i = 1
while i <= 15:
    print(' *' * i)
    i += 1
print('Done')

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *
 * * * * * * *
 * * * * * * * *
 * * * * * * * * *
 * * * * * * * * * *
 * * * * * * * * * * *
 * * * * * * * * * * * *
 * * * * * * * * * * * * *
 * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * *
Done

In [32]:
secret_no = 9
guess_count = 0
guess_limit = 3
while guess_count < guess_limit:
    guess = int(input('guess:'))
    guess_count +=1
    if guess == secret_no:
        print('hurray')
        break
    else:
        print('Wrong guess')

guess:9
hurray

In [3]:
#use of format

a = int(input())
b = int(input())

if a<b:
    print('{} is less than {}'.format(a,b))
elif a==b:
    print('{} is equal to {}'.format(a,b))    
else:
    print('{} is greater than {}'.format(a,b))

45
53
45 is less than 53

# FIZZ BUZZ problem

given situation where you are given a range of number 
if number is divisible by 5 and also by 3 then print FIZZBUZZ
if number divisible by only 3 print FIZZ
if number divisible by only  print BUZZ
else print number

In [5]:
for num in range(1,100):
    if num % 5 == 0 and num % 3 == 0:
        print('FIZZBUZZ')
    elif num % 3 == 0:
        print('Fizz')
    elif num % 5 == 0:
        print('BUZZ')
    else:
        print(num)

1
2
Fizz
4
BUZZ
Fizz
7
8
Fizz
BUZZ
11
Fizz
13
14
FIZZBUZZ
16
17
Fizz
19
BUZZ
Fizz
22
23
Fizz
BUZZ
26
Fizz
28
29
FIZZBUZZ
31
32
Fizz
34
BUZZ
Fizz
37
38
Fizz
BUZZ
41
Fizz
43
44
FIZZBUZZ
46
47
Fizz
49
BUZZ
Fizz
52
53
Fizz
BUZZ
56
Fizz
58
59
FIZZBUZZ
61
62
Fizz
64
BUZZ
Fizz
67
68
Fizz
BUZZ
71
Fizz
73
74
FIZZBUZZ
76
77
Fizz
79
BUZZ
Fizz
82
83
Fizz
BUZZ
86
Fizz
88
89
FIZZBUZZ
91
92
Fizz
94
BUZZ
Fizz
97
98
Fizz

In [7]:
#FIBONACCI SEQUENCE

a, b = 0, 1
for i in range(1,10):
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8
13
21

# given a list

find the squared of each numbers

In [9]:
a = [5,6,9,3,54,63,25,1,4,75]

sq = [num*num for num in a]
print(sq)

[25, 36, 81, 9, 2916, 3969, 625, 1, 16, 5625]

In [11]:
for item in 'Python':
    print(item)

P
y
t
h
o
n

In [12]:
for item in ['Ankit', 'Rohit', 5, 9]:
    print(item)

Ankit
Rohit
5
9

In [14]:
for item in range(10):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [9]:
for item in range(1, 10, 2):
    print(item)

1
3
5
7
9

In [6]:
#global variable

name = 'max'
def greet():
    print('hello ' + name)

In [7]:
greet ()

hello max

In [9]:
#local variable

def age():
    birthyear = 1999
    current_age = 2020-birthyear
    print(current_age)
    print(birthyear)

In [10]:
age()

21
1999

In [11]:
print(birthyear)

NameError: name 'birthyear' is not defined

In [16]:
#global variable

name = 'max'
def greet():
    age = 24
    print('hello ' + name + ', my age is ' + str(age))

In [17]:
greet()

hello max, my age is24

In [ ]:
loc='bank'
balance=100000
welcome = input('where do you want to go: ')


if(welcome=='bank'):
    print('welcome to bank')
    loan = input('do you need a loan ?')
    if(loan=='yes'):
        loan_amt = int(input('enter amount '))
        if(loan_amt < balance):
            print('loan approved ')
        else:
            print('insufficient balance ')
    else:
        print('Thank you ')
    
elif(welcome=='restaurant'):
    print('welcome to restaurant')
else:
    print('welcome to home')

In [17]:
for x in range(5):
    for y in range(4):
        print(f'({x}, {y})')

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(3, 0)
(3, 1)
(3, 2)
(3, 3)
(4, 0)
(4, 1)
(4, 2)
(4, 3)

In [20]:
numbers = [5,2,5,2,2]
for item in numbers:
    print('x' * item)

xxxxx
xx
xxxxx
xx
xx

In [22]:
numbers = [5,2,5,2,5]
for item in numbers:
    output = ''
    for count in range(item):
        output += 'x'
    print(output)

xxxxx
xx
xxxxx
xx
xxxxx

In [20]:
#tuples

numbers = (1,2,3)
#numbers[0] = 10 #you cannot change the values 
#tuples are immutable
print(numbers[0])

1

In [30]:
cds = (1,2,3,5)
x,y,z,v = cds
print(x)
print(v)
print(z)
print(y)
print(x*y+3*z-4*v)

1
5
3
2
-9

In [38]:
#dictionary

customer = {
    "name":" Ankit",
    "age":22,
    "verified":False
}
print(customer["name"])

 Ankit

In [39]:
customer = {
    "name":" Ankit",
    "age":22,
    "verified":False
}
print(customer["Birthdate"])

KeyError: 'Birthdate'

In [41]:
customer = {
    "name":" Ankit",
    "age":22,
    "verified":False
}
print(customer.get("Birthdate"))
#represents the absence of values

None

In [43]:
customer = {
    "name":" Ankit",
    "age":22,
    "verified":False
}
print(customer.get("Birthdate", "1st jan 2019"))

1st jan 2019

#write a program to take input in a string and seperate it like this
>how are you
['how', 'are', 'you']

In [53]:
message= input('>')
words = message.split(' ')
print(words)

>how are you
['how', 'are', 'you']

In [11]:
lo = [15,52,2,57,35,100]
lo.sort()
lo

[2, 15, 35, 52, 57, 100]

In [63]:
lo.reverse()
print(lo)

[100, 57, 52, 35, 15, 2]

In [64]:
lo.append(69)

In [66]:
lo.remove(52)
print(lo)

[100, 57, 35, 15, 2, 69]

#write a program which welcomes you on the basis of your choice where you want to go

where do you want to go: las
welcome to home

In [7]:
list1 = (1,2,3,4,5,6,7,8,9,10)

In [9]:
for x in list1:
    print(x)

1
2
3
4
5
6
7
8
9
10

In [10]:
for x in list1:
    if(x%2==0):
        print(x)
    else:
        print('odd number')

odd number
2
odd number
4
odd number
6
odd number
8
odd number
10

In [11]:
gun='hello guys welcome to python class'
for x in gun:
    print(x)

h
e
l
l
o

g
u
y
s

w
e
l
c
o
m
e

t
o

p
y
t
h
o
n

c
l
a
s
s

In [13]:
x=0
while x<10:
    print('x is: ',x)
    x+=1
else:
    print('all done')

x is:  0
x is:  1
x is:  2
x is:  3
x is:  4
x is:  5
x is:  6
x is:  7
x is:  8
x is:  9
all done

In [10]:
phone = input('Mobile No:')
digits_mapping = {
    '1': 'One',
    '2': 'Two',
    '3': 'Three',
    '4': 'Four',
    '5': 'Five',
    '6': 'Six',
    '7': 'Seven',
    '8': 'Eight',
    '9': 'Nine',
    '0': 'Zero',
}
output = ""
for ch in phone:
    output += digits_mapping.get(ch, "!") + " "
    print(output)

Mobile No:9804019155
Nine
Nine Eight
Nine Eight Zero
Nine Eight Zero Four
Nine Eight Zero Four Zero
Nine Eight Zero Four Zero One
Nine Eight Zero Four Zero One Nine
Nine Eight Zero Four Zero One Nine One
Nine Eight Zero Four Zero One Nine One Five
Nine Eight Zero Four Zero One Nine One Five Five

In [26]:
a = int(input('1stb number'))
b = int(input('2nd number'))


c = int(a)+int(b)
print(c)

1stb number91
2nd number9
919