## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [9]:
2 ** 4

16

In [10]:
4 % 2

0

In [11]:
5 % 2

1

In [12]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [13]:
# Can not start with number or special characters
name_of_var = 2

In [7]:
x = 2
y = 3
K = '5'

In [9]:
z = K+x

TypeError: must be str, not int

In [8]:
z

10

### Strings

In [10]:
print('Hi my name is Ankit')

Hi my name is Ankit

In [18]:
"double quotes"

'double quotes'

In [19]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [3]:
x = 'hello'

In [4]:
x

'hello'

In [22]:
print(x)

hello

In [23]:
num = 12
name = 'Sam'

In [24]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [25]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [2]:
hi = [1,2,3]

In [3]:
hi

[1, 2, 3]

In [27]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [22]:
my_list = ['a','b','c']

In [15]:
my_list.append(6)

In [8]:
my_list[2:4]

['c', 3]

In [1]:
my_list=['a', 'b', 'c', 3, 'h', 'g', 'l']

In [9]:
my_list[-1]

'l'

In [12]:
my_list[-5:]

['c', 3, 'h', 'g', 'l']

In [19]:
my_list[0:2]

['a', 'b']

In [34]:
my_list[:1]

['a']

In [23]:
my_list[1] = 'NEW'

In [24]:
my_list= ['NEW', 'b', 'c', 'NEW', 'h', 'g', 'l']
my_list

['NEW', 'b', 'c', 'NEW', 'h', 'g', 'l']

In [5]:
my_list[:5]

['NEW', 'b', 'c', 'NEW', 'h']

In [14]:
nest = [1,2,3,[4,5,['target']]]

In [17]:
nest[3][2][0]

'target'

In [101]:
nest[3][2]

['target']

In [102]:
nest[3][2][0]

'target'

### Dictionaries

In [37]:
d = {'key1':'item1','key2':'item2'}

In [38]:
d

{'key1': 'item1', 'key2': 'item2'}

In [39]:
d['key1']

'item1'

### Booleans

In [40]:
True

True

In [41]:
False

False

### Tuples

In [42]:
t = (1,2,3) 
#tuples are list may contain different data types in a list but the list in this case will use () 
#and it does not support item assignment so lists are immutable

In [43]:
t[0]

1

In [44]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [1]:
t = (1,2,3,4,5,6,7,8,1,2,2,1,2,3,1)

In [2]:
t.count(2)

4

In [4]:
t.index(2)

1

### Sets

In [45]:
{1,2,3}

{1, 2, 3}

In [46]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [18]:
'hi' == 'hi'

True

## Logic Operators

In [53]:
(1 > 2) and (2 < 3)

False

In [54]:
(1 > 2) or (2 < 3)

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [56]:
if 1 < 2:
    print('Yep!')

Yep!

In [57]:
if 1 < 2:
    print('yep!')

yep!

In [58]:
if 1 < 2:
    print('first')
else:
    print('last')

first

if 1 > 2:
    print('first')
else:
    print('last')

In [60]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

write a program to take your age as input and check if you are above 18 yrs of age,
print YOU ARE ELIGIBLE TO VOTE or if below 18, print YOU ARE NOT ELIGIBLE

In [2]:
age  = int(input())
if age > 18:
    print('first')
elif age < 18:
    print("not")
else:
    print('last')

5
not

## for Loops

In [4]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [6]:
seq = [1,2,3,4,5]

In [62]:
for item in seq:
    print(item)

1
2
3
4
5

In [63]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [7]:
for jelly in seq:
    print(jelly*jelly)

1
4
9
16
25

## while Loops

In [65]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [66]:
range(5)

range(0, 5)

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [69]:
x = [1,2,3,4]

In [70]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [71]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [72]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [73]:
my_func

In [74]:
my_func()

default

In [75]:
my_func('new param')

new param

In [76]:
my_func(param1='new param')

new param

In [77]:
def square(x):
    return x**2

In [78]:
out = square(2)

In [79]:
print(out)

4

## lambda expressions

In [80]:
def times2(var):
    return var*2

In [81]:
times2(2)

4

In [82]:
lambda var: var*2

In [1]:
def addition(a,b,c) : return a+b+c

In [3]:
addition(1,5,9)

15

In [2]:
g = lambda a,b,c : a+b+c
#lambda also known as anonymous function

In [4]:
g(1,3,5)

9

## map and filter

In [83]:
seq = [1,2,3,4,5]

In [84]:
map(times2,seq)

In [85]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [86]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [87]:
filter(lambda item: item%2 == 0,seq)

In [88]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [1]:
st = 'hello my name is Sam'

In [2]:
st.lower()

'hello my name is sam'

In [3]:
st.upper()

'HELLO MY NAME IS SAM'

In [8]:
st.split()
#st.split('m')

['hello', 'my', 'name', 'is', 'Sam']

In [104]:
tweet = 'Go Sports! #Sports'

In [106]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [107]:
tweet.split('#')[1]

'Sports'

In [92]:
d

{'key1': 'item1', 'key2': 'item2'}

In [93]:
d.keys()

dict_keys(['key2', 'key1'])

In [94]:
d.items()

dict_items([('key2', 'item2'), ('key1', 'item1')])

In [109]:
'x' in [1,2,3]

False

In [110]:
'x' in ['x','y','z']

True